@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Kategori Ekleme Sayfası</h1>
<br />
@using (Html.BeginForm("AddCategory", "AdminCategory", FormMethod.Post, new { @class = "form-group" }))
{


    @*<div class="row">
            <div class="col-lg-3">
                <label class="form-label fs-6 fw-bolder text-gray-700 mb-3">HESAP İSMİ</label>
            </div>
            <div class="col-lg-8">
                <div class="mb-5">
                    <input type="text" name="CategoryName" class="form-control form-control-solid p-4" placeholder=" " />
                    @Html.ValidationMessageFor(x => x.CategoryName)
                </div>
            </div>
        </div>
        <input type="submit" name="submit" id="submit" class="btn btn-primary er fs-6 px-8 py-4" value="Kaydet" />*@

    <input type="text" placeholder="Kategori Adı" name="CategoryName" class="form-control" />
    @Html.ValidationMessageFor(x => x.CategoryName)
    <br />
    <input type="text" placeholder="Açıklama Giriniz" name="CategoryDescription" class="form-control" />
    <br />
    <button class="btn btn-primary" type="submit" name="submit" id="submit">Kaydet</button>

}

